@import 'tailwindcss' prefix(smw); /* prefix(smw) */
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
/* @config '../tailwind.config.js'; */
@custom-variant dark (&:where(.dark, .dark *));
@theme static {
  /*--*: initial;*/
  --font-default: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /* Global Fonts */
  --default-font-family: var(--font-default);
  --font-heading: 'Jost', sans-serif;
  --font-nav: 'Open Sans', sans-serif;
  /* Global Colors */
  --color-background: #ffffff;
  --color-default: #111827;
  --color-heading: #00395d;
  --color-accent: #1d4ed8;
  --color-accent-hover: #1e40af;
  --color-surface: #ffffff;
  --color-contrast: #ffffff;
  /* Nav Colors */
  --color-nav: #111827;
  --color-nav-hover: #56b1e7;
  --color-nav-mobile-bg: #ffffff;
  --color-nav-dropdown-bg: #ffffff;
  --color-nav-dropdown: #111827;
  --color-nav-dropdown-hover: #56b1e7;

  /*Test Color Mix*/
  --color-ben-500: #00a6f4; /* Hex color */

  /* Lighter Shades */
  --color-ben-50: color-mix(in srgb, var(--color-ben-500), white 90%);
  --color-ben-100: color-mix(in srgb, var(--color-ben-500), white 80%);
  --color-ben-200: color-mix(in srgb, var(--color-ben-500), white 60%);
  --color-ben-300: color-mix(in srgb, var(--color-ben-500), white 40%);
  --color-ben-400: color-mix(in srgb, var(--color-ben-500), white 20%);

  /* Darker Shades */
  --color-ben-600: color-mix(in srgb, var(--color-ben-500), black 20%);
  --color-ben-700: color-mix(in srgb, var(--color-ben-500), black 40%);
  --color-ben-800: color-mix(in srgb, var(--color-ben-500), black 60%);
  --color-ben-900: color-mix(in srgb, var(--color-ben-500), black 80%);
  --color-ben-950: color-mix(in srgb, var(--color-ben-500), black 90%);
}
@layer components {
  .light-background {
    --color-background: #ffffff;
    --color-surface: #ffffff;
  }

  .dark-background {
    --color-background: #00395d;
    --color-default: #ffffff;
    --color-heading: #ffffff;
    --color-accent: #1d4ed8;
    --color-accent-hover: #1e40af;
    --color-surface: #2b75a2;
    --color-contrast: #ffffff;
  }
}
