<nav class="smw:bg-white smw:antialiased smw:dark:bg-default-800">
  <div class="smw:mx-auto smw:max-w-screen-xl smw:px-4 smw:py-4 smw:2xl:px-0">
    <div class="smw:flex smw:items-center smw:justify-between">
      <div class="smw:flex smw:items-center smw:space-x-8">
        <div class="smw:shrink-0">
          <a href="#" title="" class="">
            <img class="smw:block smw:h-8 smw:w-auto smw:dark:hidden" src="../images/Logo-Black.png" alt="" />
            <img class="smw:hidden smw:h-8 smw:w-auto smw:dark:block" src="../images/Logo-Black.png" alt="" />
          </a>
        </div>

        <ul class="smw:hidden smw:items-center smw:justify-start smw:gap-6 smw:py-3 smw:sm:justify-center smw:md:gap-8 smw:lg:flex">
          <li>
            <a href="#" title="" class="smw:hover:text-accent-700 smw:dark:hover:text-accent smw:flex smw:text-sm smw:font-medium smw:text-default-900 smw:dark:text-white"> Home </a>
          </li>
          <li class="shrink-0">
            <a href="#" title="" class="smw:hover:text-accent-700 smw:dark:hover:text-accent smw:flex smw:text-sm smw:font-medium smw:text-default-900 smw:dark:text-white"> Best Sellers </a>
          </li>
          <li class="shrink-0">
            <a href="#" title="" class="smw:hover:text-accent-700 smw:dark:hover:text-accent smw:flex smw:text-sm smw:font-medium smw:text-default-900 smw:dark:text-white"> Gift Ideas </a>
          </li>
          <li class="shrink-0">
            <a href="#" title="" class="smw:hover:text-accent-700 smw:dark:hover:text-accent smw:text-sm smw:font-medium smw:text-default-900 smw:dark:text-white"> Today's Deals </a>
          </li>
          <li class="shrink-0">
            <a href="#" title="" class="smw:hover:text-accent-700 smw:dark:hover:text-accent smw:text-sm smw:font-medium smw:text-default-900 smw:dark:text-white"> Sell </a>
          </li>
        </ul>
      </div>

      <div class="smw:flex smw:items-center smw:lg:space-x-2">
        <button id="myCartDropdownButton1" data-dropdown-toggle="myCartDropdown1" type="button" class="smw:inline-flex smw:items-center smw:justify-center smw:rounded-lg smw:p-2 smw:text-sm smw:leading-none smw:font-medium smw:text-default-900 smw:hover:bg-default-100 smw:dark:text-white smw:dark:hover:bg-default-700">
          <span class="smw:sr-only"> Cart </span>
          <svg class="smw:h-5 smw:w-5 smw:lg:me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312" />
          </svg>
          <span class="smw:hidden smw:sm:flex">My Cart</span>
          <svg class="smw:ms-1 smw:hidden smw:h-4 smw:w-4 smw:text-default-900 smw:sm:flex smw:dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7" />
          </svg>
        </button>

        <div id="myCartDropdown1" class="smw:z-10 smw:mx-auto smw:hidden smw:max-w-sm smw:space-y-4 smw:overflow-hidden smw:rounded-lg smw:bg-white smw:p-4 smw:antialiased smw:shadow-lg smw:dark:bg-default-800">
          <div class="smw:grid smw:grid-cols-2">
            <div>
              <a href="#" class="smw:truncate smw:text-sm smw:leading-none smw:font-semibold smw:text-default-900 smw:hover:underline smw:dark:text-white">Apple iPhone 15</a>
              <p class="smw:mt-0.5 smw:truncate smw:text-sm smw:font-normal smw:text-default-500 smw:dark:text-default-400">$599</p>
            </div>

            <div class="smw:flex smw:items-center smw:justify-end smw:gap-6">
              <p class="smw:text-sm smw:leading-none smw:font-normal smw:text-default-500 smw:dark:text-default-400">Qty: 1</p>

              <button data-tooltip-target="tooltipRemoveItem1a" type="button" class="smw:text-red-600 smw:hover:text-red-700 smw:dark:text-red-500 smw:dark:hover:text-red-600">
                <span class="smw:sr-only"> Remove </span>
                <svg class="smw:h-4 smw:w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z" clip-rule="evenodd" />
                </svg>
              </button>
              <div id="tooltipRemoveItem1a" role="tooltip" class="tooltip smw:invisible smw:absolute smw:z-10 smw:inline-block smw:rounded-lg smw:bg-default-900 smw:px-3 smw:py-2 smw:text-sm smw:font-medium smw:text-white smw:opacity-0 smw:shadow-sm smw:transition-opacity smw:duration-300 smw:dark:bg-default-700">
                Remove item
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
            </div>
          </div>

          <div class="smw:grid smw:grid-cols-2">
            <div>
              <a href="#" class="smw:truncate smw:text-sm smw:leading-none smw:font-semibold smw:text-default-900 smw:hover:underline smw:dark:text-white">Apple iPad Air</a>
              <p class="smw:mt-0.5 smw:truncate smw:text-sm smw:font-normal smw:text-default-500 smw:dark:text-default-400">$499</p>
            </div>

            <div class="smw:flex smw:items-center smw:justify-end smw:gap-6">
              <p class="smw:text-sm smw:leading-none smw:font-normal smw:text-default-500 smw:dark:text-default-400">Qty: 1</p>

              <button data-tooltip-target="tooltipRemoveItem2a" type="button" class="smw:text-red-600 smw:hover:text-red-700 smw:dark:text-red-500 smw:dark:hover:text-red-600">
                <span class="smw:sr-only"> Remove </span>
                <svg class="smw:h-4 smw:w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z" clip-rule="evenodd" />
                </svg>
              </button>
              <div id="tooltipRemoveItem2a" role="tooltip" class="tooltip smw:invisible smw:absolute smw:z-10 smw:inline-block smw:rounded-lg smw:bg-default-900 smw:px-3 smw:py-2 smw:text-sm smw:font-medium smw:text-white smw:opacity-0 smw:shadow-sm smw:transition-opacity smw:duration-300 smw:dark:bg-default-700">
                Remove item
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
            </div>
          </div>

          <div class="smw:grid smw:grid-cols-2">
            <div>
              <a href="#" class="smw:truncate smw:text-sm smw:leading-none smw:font-semibold smw:text-default-900 smw:hover:underline smw:dark:text-white">Apple Watch SE</a>
              <p class="smw:mt-0.5 smw:truncate smw:text-sm smw:font-normal smw:text-default-500 smw:dark:text-default-400">$598</p>
            </div>

            <div class="smw:flex smw:items-center smw:justify-end smw:gap-6">
              <p class="smw:text-sm smw:leading-none smw:font-normal smw:text-default-500 smw:dark:text-default-400">Qty: 2</p>

              <button data-tooltip-target="tooltipRemoveItem3b" type="button" class="smw:text-red-600 smw:hover:text-red-700 smw:dark:text-red-500 smw:dark:hover:text-red-600">
                <span class="smw:sr-only"> Remove </span>
                <svg class="smw:h-4 smw:w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z" clip-rule="evenodd" />
                </svg>
              </button>
              <div id="tooltipRemoveItem3b" role="tooltip" class="tooltip smw:invisible smw:absolute smw:z-10 smw:inline-block smw:rounded-lg smw:bg-default-900 smw:px-3 smw:py-2 smw:text-sm smw:font-medium smw:text-white smw:opacity-0 smw:shadow-sm smw:transition-opacity smw:duration-300 smw:dark:bg-default-700">
                Remove item
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
            </div>
          </div>

          <div class="smw:grid smw:grid-cols-2">
            <div>
              <a href="#" class="smw:truncate smw:text-sm smw:leading-none smw:font-semibold smw:text-default-900 smw:hover:underline smw:dark:text-white">Sony Playstation 5</a>
              <p class="smw:mt-0.5 smw:truncate smw:text-sm smw:font-normal smw:text-default-500 smw:dark:text-default-400">$799</p>
            </div>

            <div class="smw:flex smw:items-center smw:justify-end smw:gap-6">
              <p class="smw:text-sm smw:leading-none smw:font-normal smw:text-default-500 smw:dark:text-default-400">Qty: 1</p>

              <button data-tooltip-target="tooltipRemoveItem4b" type="button" class="smw:text-red-600 smw:hover:text-red-700 smw:dark:text-red-500 smw:dark:hover:text-red-600">
                <span class="smw:sr-only"> Remove </span>
                <svg class="smw:h-4 smw:w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z" clip-rule="evenodd" />
                </svg>
              </button>
              <div id="tooltipRemoveItem4b" role="tooltip" class="tooltip smw:invisible smw:absolute smw:z-10 smw:inline-block smw:rounded-lg smw:bg-default-900 smw:px-3 smw:py-2 smw:text-sm smw:font-medium smw:text-white smw:opacity-0 smw:shadow-sm smw:transition-opacity smw:duration-300 smw:dark:bg-default-700">
                Remove item
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
            </div>
          </div>

          <div class="smw:grid smw:grid-cols-2">
            <div>
              <a href="#" class="smw:truncate smw:text-sm smw:leading-none smw:font-semibold smw:text-default-900 smw:hover:underline smw:dark:text-white">Apple iMac 20"</a>
              <p class="smw:mt-0.5 smw:truncate smw:text-sm smw:font-normal smw:text-default-500 smw:dark:text-default-400">$8,997</p>
            </div>

            <div class="smw:flex smw:items-center smw:justify-end smw:gap-6">
              <p class="smw:text-sm smw:leading-none smw:font-normal smw:text-default-500 smw:dark:text-default-400">Qty: 3</p>

              <button data-tooltip-target="tooltipRemoveItem5b" type="button" class="smw:text-red-600 smw:hover:text-red-700 smw:dark:text-red-500 smw:dark:hover:text-red-600">
                <span class="smw:sr-only"> Remove </span>
                <svg class="smw:h-4 smw:w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm7.7-3.7a1 1 0 0 0-1.4 1.4l2.3 2.3-2.3 2.3a1 1 0 1 0 1.4 1.4l2.3-2.3 2.3 2.3a1 1 0 0 0 1.4-1.4L13.4 12l2.3-2.3a1 1 0 0 0-1.4-1.4L12 10.6 9.7 8.3Z" clip-rule="evenodd" />
                </svg>
              </button>
              <div id="tooltipRemoveItem5b" role="tooltip" class="tooltip smw:invisible smw:absolute smw:z-10 smw:inline-block smw:rounded-lg smw:bg-default-900 smw:px-3 smw:py-2 smw:text-sm smw:font-medium smw:text-white smw:opacity-0 smw:shadow-sm smw:transition-opacity smw:duration-300 smw:dark:bg-default-700">
                Remove item
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
            </div>
          </div>

          <a href="#" title="" class="smw:bg-accent-700 smw:hover:bg-accent-800 smw:focus:ring-accent-300 smw:dark:bg-accent-600 smw:dark:hover:bg-accent-700 smw:dark:focus:ring-accent-800 smw:me-2 smw:mb-2 smw:inline-flex smw:w-full smw:items-center smw:justify-center smw:rounded-lg smw:px-5 smw:py-2.5 smw:text-sm smw:font-medium smw:text-white smw:focus:ring-4 smw:focus:outline-none" role="button"> See your Cart </a>
        </div>

        <button id="userDropdownButton1" data-dropdown-toggle="userDropdown1" type="button" class="smw:inline-flex smw:items-center smw:justify-center smw:rounded-lg smw:p-2 smw:text-sm smw:leading-none smw:font-medium smw:text-default-900 smw:hover:bg-default-100 smw:dark:text-white smw:dark:hover:bg-default-700">
          <svg class="smw:me-1 smw:h-5 smw:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-width="2" d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>
          Account
          <svg class="smw:ms-1 smw:h-4 smw:w-4 smw:text-default-900 smw:dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7" />
          </svg>
        </button>

        <div id="userDropdown1" class="smw:z-10 smw:hidden smw:w-56 smw:divide-y smw:divide-default-100 smw:overflow-hidden smw:overflow-y-auto smw:rounded-lg smw:bg-white smw:antialiased smw:shadow smw:dark:divide-default-600 smw:dark:bg-default-700">
          <ul class="smw:p-2 smw:text-start smw:text-sm smw:font-medium smw:text-default-900 smw:dark:text-white">
            <li><a href="#" title="" class="smw:inline-flex smw:w-full smw:items-center smw:gap-2 smw:rounded-md smw:px-3 smw:py-2 smw:text-sm smw:hover:bg-default-100 smw:dark:hover:bg-default-600"> My Account </a></li>
            <li><a href="#" title="" class="smw:inline-flex smw:w-full smw:items-center smw:gap-2 smw:rounded-md smw:px-3 smw:py-2 smw:text-sm smw:hover:bg-default-100 smw:dark:hover:bg-default-600"> My Orders </a></li>
            <li><a href="#" title="" class="smw:inline-flex smw:w-full smw:items-center smw:gap-2 smw:rounded-md smw:px-3 smw:py-2 smw:text-sm smw:hover:bg-default-100 smw:dark:hover:bg-default-600"> Settings </a></li>
            <li><a href="#" title="" class="smw:inline-flex smw:w-full smw:items-center smw:gap-2 smw:rounded-md smw:px-3 smw:py-2 smw:text-sm smw:hover:bg-default-100 smw:dark:hover:bg-default-600"> Favourites </a></li>
            <li><a href="#" title="" class="smw:inline-flex smw:w-full smw:items-center smw:gap-2 smw:rounded-md smw:px-3 smw:py-2 smw:text-sm smw:hover:bg-default-100 smw:dark:hover:bg-default-600"> Delivery Addresses </a></li>
            <li><a href="#" title="" class="smw:inline-flex smw:w-full smw:items-center smw:gap-2 smw:rounded-md smw:px-3 smw:py-2 smw:text-sm smw:hover:bg-default-100 smw:dark:hover:bg-default-600"> Billing Data </a></li>
          </ul>

          <div class="smw:p-2 smw:text-sm smw:font-medium smw:text-default-900 smw:dark:text-white">
            <a href="#" title="" class="smw:inline-flex smw:w-full smw:items-center smw:gap-2 smw:rounded-md smw:px-3 smw:py-2 smw:text-sm smw:hover:bg-default-100 smw:dark:hover:bg-default-600"> Sign Out </a>
          </div>
        </div>

        <button id="theme-toggle" type="button" class="smw:rounded-lg smw:p-2.5 smw:text-sm smw:text-default smw:hover:bg-default-100 smw:focus:ring-4 smw:focus:ring-default-200 smw:focus:outline-none smw:dark:text-default-400 smw:dark:hover:bg-default-700 smw:dark:focus:ring-default-700">
          <svg id="theme-toggle-dark-icon" class="smw:hidden smw:h-5 smw:w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
          <svg id="theme-toggle-light-icon" class="smw:hidden smw:h-5 smw:w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
        </button>

        <button type="button" data-collapse-toggle="ecommerce-navbar-menu-1" aria-controls="ecommerce-navbar-menu-1" aria-expanded="false" class="smw:inline-flex smw:items-center smw:justify-center smw:rounded-md smw:p-2 smw:text-default-900 smw:hover:bg-default-100 smw:lg:hidden smw:dark:text-white smw:dark:hover:bg-default-700">
          <span class="smw:sr-only"> Open Menu </span>
          <svg class="smw:h-5 smw:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
          </svg>
        </button>
      </div>
    </div>

    <div id="ecommerce-navbar-menu-1" class="smw:mt-4 smw:hidden smw:rounded-lg smw:border smw:border-default-200 smw:bg-default-50 smw:px-4 smw:py-3 smw:dark:border-default-600 smw:dark:bg-default-700">
      <ul class="smw:space-y-3 smw:text-sm smw:font-medium smw:text-default-900 smw:dark:text-white">
        <li>
          <a href="#" class="smw:hover:text-accent-700 smw:dark:hover:text-accent">Home</a>
        </li>
        <li>
          <a href="#" class="smw:hover:text-accent-700 smw:dark:hover:text-accent">Best Sellers</a>
        </li>
        <li>
          <a href="#" class="smw:hover:text-accent-700 smw:dark:hover:text-accent">Gift Ideas</a>
        </li>
        <li>
          <a href="#" class="smw:hover:text-accent-700 smw:dark:hover:text-accent">Games</a>
        </li>
        <li>
          <a href="#" class="smw:hover:text-accent-700 smw:dark:hover:text-accent">Electronics</a>
        </li>
        <li>
          <a href="#" class="smw:hover:text-accent-700 smw:dark:hover:text-accent">Home & Garden</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
