<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="../input.css" rel="stylesheet" />
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>
  <body>
    <button id="theme-toggle" type="button" class="smw:rounded-lg smw:p-2.5 smw:text-sm smw:text-default smw:hover:bg-default-100 smw:focus:ring-4 smw:focus:ring-default-200 smw:focus:outline-none smw:dark:text-default-400 smw:dark:hover:bg-default-700 smw:dark:focus:ring-default-700">
      <svg id="theme-toggle-dark-icon" class="smw:hidden smw:h-5 smw:w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
      <svg id="theme-toggle-light-icon" class="smw:hidden smw:h-5 smw:w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
    </button>
    <!-- All LunaSoft Software Layout Starts here -->
    <br />
    <section class="smw:bg-background smw:py-8 smw:antialiased smw:md:py-12 smw:dark:bg-default-900">
      <div class="smw:mx-auto smw:max-w-screen-xl smw:px-4 smw:2xl:px-0">
        <!-- Heading & Filters -->
        <div class="smw:mb-4 smw:items-end smw:justify-between smw:space-y-4 smw:sm:flex smw:sm:space-y-0 smw:md:mb-8">
          <div>
            <nav class="flex" aria-label="Breadcrumb">
              <ol class="smw:inline-flex smw:items-center smw:space-x-1 smw:md:space-x-2 smw:rtl:space-x-reverse">
                <li class="smw:inline-flex smw:items-center">
                  <a href="#" class="smw:hover:text-accent-600 smw:inline-flex smw:items-center smw:text-sm smw:font-medium smw:text-default-700 smw:dark:text-default-400 smw:dark:hover:text-white">
                    <svg class="smw:me-2.5 smw:h-3 smw:w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                    </svg>
                    Home
                  </a>
                </li>
                <li>
                  <div class="smw:flex smw:items-center">
                    <svg class="smw:h-5 smw:w-5 smw:text-default-400 smw:rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
                    </svg>
                    <a href="#" class="smw:hover:text-accent-600 smw:ms-1 smw:text-sm smw:font-medium smw:text-default-700 smw:md:ms-2 smw:dark:text-default-400 smw:dark:hover:text-white">Products</a>
                  </div>
                </li>
                <li aria-current="page">
                  <div class="smw:flex smw:items-center">
                    <svg class="smw:h-5 smw:w-5 smw:text-default-400 smw:rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
                    </svg>
                    <span class="smw:ms-1 smw:text-sm smw:font-medium smw:text-default smw:md:ms-2 smw:dark:text-default-400">Electronics</span>
                  </div>
                </li>
              </ol>
            </nav>
            <h2 class="smw:mt-3 smw:text-xl smw:font-semibold smw:text-heading smw:sm:text-2xl smw:dark:text-white">Electronics</h2>
          </div>
          <div class="smw:flex smw:items-center smw:space-x-4">
            <span class="smw:text-sm smw:font-medium smw:text-default smw:dark:text-default-400 smw:flex smw:items-center smw:justify-start smw:sm:justify-center smw:gap-1 smw:w-full smw:sm:w-auto">
              <span class="smw:text-default-900 smw:dark:text-white">72</span>
              <span class="">Item(s)</span>
            </span>
            <form class="smw:flex smw:w-full smw:items-center smw:justify-center">
              <select id="small" class="smw:block smw:w-full smw:rounded-lg smw:border smw:border-default-200 smw:bg-surface smw:p-2 smw:px-3 smw:pr-10 smw:text-sm smw:font-medium smw:text-default-900 smw:focus:border-accent smw:focus:ring-accent smw:dark:border-default-600 smw:dark:bg-default-800 smw:dark:text-white smw:dark:placeholder-default-400 smw:dark:focus:border-accent smw:dark:focus:ring-accent">
                <option selected>Sort</option>
                <option value="Lowest Price">Lowest Price</option>
                <option value="Highest Price">Highest Price</option>
                <option value="Name">Name</option>
                <option value="Newest">Newest</option>
              </select>
            </form>
          </div>
        </div>
        <!-- Content Grid -->
        <div x-data="{ products: Array(8).fill(0) }" class="smw:mb-4 smw:grid smw:gap-4 smw:sm:grid-cols-2 smw:md:mb-8 smw:lg:grid-cols-3 smw:xl:grid-cols-4">
          <template x-for="(product, index) in products" :key="index">
            <!-- Product Card -->
            <div class="smw:rounded-lg smw:border smw:border-default-200 smw:bg-surface smw:p-6 smw:shadow-sm smw:dark:border-default-700 smw:dark:bg-default-800">
              <div class="smw:h-56 smw:w-full">
                <a href="#">
                  <img class="smw:mx-auto smw:h-full smw:dark:hidden" src="../images/product-image.jpg" alt="" />
                  <img class="smw:mx-auto smw:hidden smw:h-full smw:dark:block" src="../images/product-image.jpg" alt="" />
                </a>
              </div>
              <div class="smw:pt-6">
                <div class="smw:mb-3 smw:flex smw:items-center smw:justify-between smw:gap-4">
                  <div class="smw:flex smw:items-center smw:gap-2">
                    <div class="smw:flex smw:items-center">
                      <svg class="smw:h-4 smw:w-4 smw:text-yellow-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z" />
                      </svg>

                      <svg class="smw:h-4 smw:w-4 smw:text-yellow-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z" />
                      </svg>

                      <svg class="smw:h-4 smw:w-4 smw:text-yellow-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z" />
                      </svg>

                      <svg class="smw:h-4 smw:w-4 smw:text-yellow-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z" />
                      </svg>

                      <svg class="smw:h-4 smw:w-4 smw:text-yellow-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z" />
                      </svg>
                    </div>

                    <p class="smw:text-sm smw:font-medium smw:text-default-900 smw:dark:text-white">5.0</p>
                  </div>

                  <div class="smw:flex smw:items-center smw:justify-end smw:gap-1">
                    <button type="button" x-bind:data-tooltip-target="'tooltip-add-to-favorites-' + (index + 1)" class="smw:rounded-lg smw:p-2 smw:text-default smw:hover:bg-default-100 smw:hover:text-default-900 smw:dark:text-default-400 smw:dark:hover:bg-default-700 smw:dark:hover:text-white">
                      <span class="smw:sr-only"> Add to Favorites </span>
                      <svg class="smw:h-5 smw:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6C6.5 1 1 8 5.8 13l6.2 7 6.2-7C23 8 17.5 1 12 6Z" />
                      </svg>
                    </button>
                    <div x-bind:id="'tooltip-add-to-favorites-' + (index + 1)" role="tooltip" class="tooltip smw:invisible smw:absolute smw:z-10 smw:inline-block smw:rounded-lg smw:bg-default-900 smw:px-3 smw:py-2 smw:text-sm smw:font-medium smw:text-contrast smw:opacity-0 smw:shadow-sm smw:transition-opacity smw:duration-300 smw:dark:bg-default-700" data-popper-placement="top">
                      Add to favorites
                      <div class="tooltip-arrow" data-popper-arrow=""></div>
                    </div>
                  </div>
                </div>

                <h2 class="smw:text-heading smw:dark:text-white smw:text-lg smw:leading-tight smw:font-semibold">
                  <a href="#" class="smw:text-heading smw:hover:text-accent-800 smw:dark:text-white smw:dark:hover:text-accent-700">Apple iMac 27", 1TB HDD, Retina 5K Display, M3 Max</a>
                </h2>

                <p class="smw:text-default smw:dark:text-default-400 smw:mt-2 smw:text-base smw:font-normal">This generation has some improvements, including a longer continuous battery life.</p>

                <div class="smw:mt-4 smw:flex smw:items-center smw:justify-start smw:gap-2">
                  <p class="smw:text-default-900 smw:text-2xl smw:leading-tight smw:font-extrabold smw:dark:text-white">$79.00</p>
                  <p class="smw:text-default smw:text-xl smw:leading-tight smw:font-normal smw:line-through smw:dark:text-default-400">$85</p>
                </div>

                <div class="smw:mt-4 smw:flex smw:items-center smw:justify-center smw:gap-4">
                  <button type="button" class="smw:bg-accent-700 smw:hover:bg-accent-800 smw:focus:ring-accent-300 smw:dark:bg-accent-600 smw:dark:hover:bg-accent-700 smw:dark:focus:ring-accent-800 smw:inline-flex smw:w-full smw:items-center smw:justify-center smw:rounded-lg smw:px-5 smw:py-2.5 smw:text-sm smw:font-medium smw:text-contrast smw:focus:ring-4 smw:focus:outline-none">
                    <svg class="smw:-ms-2 smw:me-2 smw:h-5 smw:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6" />
                    </svg>
                    Add to cart
                  </button>
                </div>
              </div>
            </div>
          </template>
        </div>
        <!-- Pagination -->
        <div class="smw:w-full smw:text-center">
          <nav aria-label="Page navigation">
            <ul class="smw:inline-flex smw:-space-x-px smw:text-sm">
              <li>
                <a href="#" class="smw:ms-0 smw:flex smw:h-8 smw:items-center smw:justify-center smw:rounded-s-lg smw:border smw:border-e-0 smw:border-default-200 smw:bg-surface smw:px-3 smw:leading-tight smw:text-default smw:hover:bg-default-100 smw:hover:text-default-700 smw:dark:border-default-700 smw:dark:bg-default-800 smw:dark:text-default-400 smw:dark:hover:bg-default-700 smw:dark:hover:text-white">
                  <span class="smw:sr-only">Previous</span>
                  <svg class="smw:h-2.5 smw:w-2.5 smw:rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" class="smw:flex smw:h-8 smw:items-center smw:justify-center smw:border smw:border-default-200 smw:bg-surface smw:px-3 smw:leading-tight smw:text-default smw:hover:bg-default-100 smw:hover:text-default-700 smw:dark:border-default-700 smw:dark:bg-default-800 smw:dark:text-default-400 smw:dark:hover:bg-default-700 smw:dark:hover:text-white">1</a>
              </li>
              <li>
                <a href="#" class="smw:flex smw:h-8 smw:items-center smw:justify-center smw:border smw:border-default-200 smw:bg-surface smw:px-3 smw:leading-tight smw:text-default smw:hover:bg-default-100 smw:hover:text-default-700 smw:dark:border-default-700 smw:dark:bg-default-800 smw:dark:text-default-400 smw:dark:hover:bg-default-700 smw:dark:hover:text-white">2</a>
              </li>
              <li>
                <a href="#" aria-current="page" class="smw:flex smw:h-8 smw:items-center smw:justify-center smw:border smw:border-default-200 smw:bg-accent-50 smw:px-3 smw:text-accent-600 smw:hover:bg-accent-100 smw:hover:text-accent-700 smw:dark:border-default-700 smw:dark:bg-default-700 smw:dark:text-white">3</a>
              </li>
              <li>
                <a href="#" class="smw:flex smw:h-8 smw:items-center smw:justify-center smw:border smw:border-default-200 smw:bg-surface smw:px-3 smw:leading-tight smw:text-default smw:hover:bg-default-100 smw:hover:text-default-700 smw:dark:border-default-700 smw:dark:bg-default-800 smw:dark:text-default-400 smw:dark:hover:bg-default-700 smw:dark:hover:text-white">...</a>
              </li>
              <li>
                <a href="#" class="smw:flex smw:h-8 smw:items-center smw:justify-center smw:border smw:border-default-200 smw:bg-surface smw:px-3 smw:leading-tight smw:text-default smw:hover:bg-default-100 smw:hover:text-default-700 smw:dark:border-default-700 smw:dark:bg-default-800 smw:dark:text-default-400 smw:dark:hover:bg-default-700 smw:dark:hover:text-white">5</a>
              </li>
              <li>
                <a href="#" class="smw:flex smw:h-8 smw:items-center smw:justify-center smw:rounded-e-lg smw:border smw:border-default-200 smw:bg-surface smw:px-3 smw:leading-tight smw:text-default smw:hover:bg-default-100 smw:hover:text-default-700 smw:dark:border-default-700 smw:dark:bg-default-800 smw:dark:text-default-400 smw:dark:hover:bg-default-700 smw:dark:hover:text-white">
                  <span class="smw:sr-only">Next</span>
                  <svg class="smw:h-2.5 smw:w-2.5 smw:rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <!-- All LunaSoft Software Layout Ends here -->

    <script type="module" src="../main.js"></script>
  </body>
</html>
